#content.scrolled {
	transition-duration: 0.3s;
	padding-top: 51px;
}

#content {
	transition-duration: 0.3s;
	padding-top: 70px;
}

.section {
	padding: 40px 0px;
}

.section-title {
	font-weight: 300;
	position: relative;
	margin-bottom: 40px;
}

h2.section-title {
	&:before {
		width: 200px;
		height: 1px;
		background-color: #888;
		position: absolute;
		display: inline;
		content: " ";
		bottom: -10px;
	}
}

.text-center.section-title {
	&:before {
		left: 50%;
		right: 0;
		transform: translateX(-50%);
	}
}

.text-center {
	.section-title {
		&:before {
			left: 50%;
			right: 0;
			transform: translateX(-50%);
		}
	}
}

.text-left.section-title {
	&:before {
		left: 0;
		padding-left: 15px;
	}
}

.text-left {
	.section-title {
		&:before {
			left: 0;
			padding-left: 15px;
		}
	}
}

.text-right.section-title {
	&:before {
		right: 0;
		padding-right: 15px;
	}
}

.text-right {
	.section-title {
		&:before {
			right: 0;
			padding-right: 15px;
		}
	}
}

.featured-notes {
	padding: 15px;
	position: relative;
	p {
		color: #808080;
	}
}

.featured-icon {
	position: relative;
	&:before {
		transition-duration: 0.8s;
		background-color: rgba(255, 255, 255, 0.5);
		position: absolute;
		content: " ";
		width: 100%;
		height: 100%;
		bottom: 0px;
		left: 0px;
	}
	&:hover{
		&:before {
			height: 0px;
		}
	}
}

th.t-center, td.t-center {
	text-align: center;
}

.section-sub-title {
    font-weight: 300;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(77,77,77,.1);
    position: relative;
	&:before {
		bottom: -1px;
		height: 2px;
		width: 100px;
		background-color: #FF6656;
		position: absolute;
		content: " ";
	}
}


.text-right.section-sub-title {
	&:before {
		right: 0px;
	}
}

.breadcrumb {
    padding: 8px 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 1px dotted rgba(41, 128, 185, .3);
	& > .active {
		color: #666;
	}
}


.article-list {
	.article-li {
		padding: 10px 0px 5px 0px;
		margin-bottom: 5px;
		background-color: #fcfcfc;
		position: relative;
		cursor: pointer;
		&:hover {
			.article-fg {
				transition-duration: 0.3s;
				height: 100%;
				width: 100%;
				position: absolute;
				background-color: rgba(52, 152, 219, 0.9);
				z-index: 0;
				top: 0;
				left: 0;
				&:before {
					transition-duration: 0.3s;
					color: #fff;
					font-weight: 600;
					font-size: 16px;
					content: "Read More \f0a9";
					font-family: "FontAwesome";
					text-align: center;
					height: auto;
					width: 100%;
					position: absolute;
					z-index: 10;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}

	.article-title {
		margin: 0px;
	}

	.article-review {
		color: #888;
		font-size: 0.9em;
		padding-top: 8px;
		text-align: right;
	}

	.article-more {
		margin: 20px 0px; 
	}
}

a:hover { 
	.article-fg {
		transition-duration: 0.3s;
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: rgba(52, 152, 219, 0.9);
		z-index: 0;
		top: 0;
		left: 0;
		&:before {
			transition-duration: 0.3s;
			color: #fff;
			font-weight: 600;
			font-size: 16px;
			content: "Read More \f0a9";
			font-family: "FontAwesome";
			text-align: center;
			height: auto;
			width: 100%;
			position: absolute;
			z-index: 10;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

a {
	.article-fg-sq {
		transition-duration: 0.3s;
	} 
	.article-fg-sq {
		&:before {
			transition-duration: 0.3s;
		}
	}
	&:hover { 
		.article-fg-sq {
			transition-duration: 0.3s;
			height: 100%;
			width: 100%;
			position: absolute;
			background-color: rgba(26, 188, 156, .9);
			z-index: 0;
			top: 0;
			left: 0;
			&:before {
				transition-duration: 0.3s;
				color: #fff;
				font-weight: 600;
				font-size: 16px;
				content: "Learn More \f0a9";
				font-family: "FontAwesome";
				text-align: center;
				height: auto;
				width: 100%;
				position: absolute;
				z-index: 10;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.article-more {
	a {
		font-weight: 600;
		text-transform: uppercase;
	}
}

.pagination { 
	.page-numbers {
		text-decoration: none;
		margin: 0px 5px;
	}
}

#partners { 
	img {
		max-height: 60px;
		height: auto;
		-webkit-filter: grayscale(100%);
	    filter: grayscale(100%);
	}
	.partner-list {
		position: relative;
		&:before {
			position: absolute;
			background-color: rgba(255, 255, 255, 0.5);
			content: " ";
			width: 100%;
			height: 80px;
			top: -10px;
			left: 0px;
			z-index: 10;
		}
	}
}

.main-interesting-content-container {
	transition-duration: 0.3s;
	padding: 10px;
	background-color: #1abc9c;
	a { 
		text-decoration: none;
		color: #f1f1f1;
		&:hover, &:active, &:focus, &:visited {
			text-decoration: none;
			color: #f1f1f1;
		}
	}
	h5 {
		margin: 10px 0px 5px 0px;
	}
	p {
		color: #eaeaea;
	}
	&:hover {
		p, h5 {
			transition-duration: 0.3s;
			color: #fff;
		}
	}
}

.main-interesting-img-container {
	position: relative;
	&:before {
		transition-duration: 0.8s;
		background: -webkit-linear-gradient(transparent, #333); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(transparent, #333); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(transparent, #333); /* For Firefox 3.6 to 15 */
		background: linear-gradient(transparent, #333); /* Standard syntax */
		position: absolute;
		width: 100%;
		height: 120px;
		content: " ";
		bottom: 0px;
	}
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}

.interesting-content-container {
	position: relative;
	max-height: 200px;
	overflow: hidden;
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	a { 
		text-decoration: none;
		color: #f1f1f1;
		&:hover, &:active, &:focus, &:visited {
			text-decoration: none;
			color: #f1f1f1;
		}
	}
	&:before {
		transition-duration: 0.8s;
		background: -webkit-linear-gradient(transparent, rgba(255,255,255,0.2)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(transparent, rgba(255,255,255,0.2)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(transparent, rgba(255,255,255,0.2)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(transparent, rgba(255,255,255,0.2)); /* Standard syntax */
		position: absolute;
		width: 100%;
		height: 120px;
		content: " ";
		bottom: 0px;
	}
	&:hover {
		.interesting-notes {
			transition-duration: 0.8s;
			-webkit-transition-duration: 0.8s;
			display: block;
		}
		.interesting-content {
			-webkit-transition-duration: 0.8s;
			transition-duration: 0.8s;
			height: auto;
		}
	}
}

.interesting-content {
	padding: 0px 10px;
	position: absolute;
	bottom: 0px;
	background-color: rgba(52, 73, 94, .9);
	width: 100%;
	/*height: 0px;*/
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

#transit-recommendation {
	.interesting-content {
		background-color: rgba(26, 188, 156, 1.0);
	}
}

.interesting-notes {
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	display: none;
}


.arrow-title {
	right: 10px;
	position: absolute;
	display: inline;
}

#flight-schedule-list {
	height: auto;
	padding: 40px 0px;
}

.table-label {
	label {
		font-weight: 400;
		cursor: pointer;
	}
	label.active {
		font-weight: bold;
	}
}


.table-departure.close, .table-arrival.close,
.table-departure-stats.close, .table-arrival-stats.close {
	display: none;
}

#archive, #single {
	height: auto;
	padding: 40px 0px;
}

aside.sidebar-item {
	margin-bottom: 30px;
}

#entry, #entry-block {
	margin-bottom: 40px;
}

#entry-block {
	position: relative;
}

.card-item {
	padding: 0px 15px;
}

.sheet-item {
	margin: 0px 0px;
	h4 {
		margin-bottom: 5px;
	}
}

.entry-title {
	a:hover, a:active, a:focus, a:visited {
		text-decoration: none;
	}
}

#archive { 
	.entry-title {
		margin-top: 0px;
		font-weight: 400;
	}
	#entry-block { 
		.entry-title {
			margin-top: 10px;
			font-weight: 400;
			font-size: 20px;
		}
		.entry-image-container {
			.entry-label-side, .entry-label-top-side {
				position: absolute;
				background-color: rgba(231, 76, 60, .8);
				padding: 10px;
				font-size: 14px;
				text-transform: capitalize;
				color: #f1f1f1;
				font-weight: 600;
				z-index: 2;
			}
		}
	}
	#entry { 
		.entry-title {
			font-size: 20px;
		}
	}
	.entry-notes {
		padding-right: 10px;
		margin-bottom: 10px;
		font-size: 0.9em;
		color: #888;
		a, .fa {
			color: #34495e;
		}
	}
	.entry-content {
		color: #444;
	}
	.entry-img-container {
		max-height: 225px;
		overflow: hidden;
		position: relative;
		img.img-featured-list {
			height: 100%;
			width: auto;
		}
		.article-date {
			position: absolute;
			background-color: rgba(231, 76, 60, .8);
			padding: 10px;
			font-size: 14px;
			text-transform: capitalize;
			color: #f1f1f1;
			font-weight: 600;
			z-index: 2;
			bottom: 0px;
		}
		.entry-label-top-side {
			top: 10px;
			right: 0px;
			text-transform: uppercase;
			padding: 5px 13px;
			font-size: 16px;
			letter-spacing: 1px;
			height: auto;
			width: auto;
			background-color: rgba(26, 188, 156, 0.9);
		}
	}
	.article-shadow {
		height: 100px;
		position: absolute;
		background: -webkit-linear-gradient(transparent, rgba(255,255,255,0.3));
	    background: -o-linear-gradient(transparent, rgba(255,255,255,0.3));
	    background: -moz-linear-gradient(transparent, rgba(255,255,255,0.3));
	    background: linear-gradient(transparent, rgba(255,255,255,0.3));
		width: 100%;
		content: " ";
		bottom: 0px;
		z-index: 1;
		&:hover {
			background: transparent;
		}
	}
	.archive-item { 
		#entry {
			.read-more {
				background-color: #3498db;
				padding: 5px;
				display: block;
				width: 100px;
				text-align: center;
				color: #f1f1f1;
				margin: 15px 0px;
				text-decoration: none;
				transition-duration: 0.3s;
				border-radius: 2px;
				&:hover {
					background-color: #1B7FC2;
					text-decoration: none;
					transition-duration: 0.3s;
					border-radius: 0px;
				}
			}
		}
	}
}

#entry-block {
	.entry-image-container {
		.entry-label-top-side {
			position: absolute;
			background-color: rgba(231, 76, 60, .8);
			padding: 10px;
			font-size: 14px;
			text-transform: capitalize;
			color: #f1f1f1;
			font-weight: 600;
			z-index: 2;
			top: -12px;
			right: -12px;
			text-transform: uppercase;
			padding: 5px 13px;
			border-radius: 50%;
			font-size: 28px;
			height: 50px;
			width: 50px;
			background-color: rgba(241, 196, 15,1.0);
		}
		.entry-label-side {
			position: absolute;
			background-color: rgba(231, 76, 60, .8);
			padding: 10px;
			font-size: 14px;
			text-transform: capitalize;
			color: #f1f1f1;
			font-weight: 600;
			z-index: 2;
			bottom: 0px;
		}
	}
}

#single.single-middle {
	.entry-title {
	    background-color: rgba(231, 76, 60, 1.0);
	    padding: 15px;
	    letter-spacing: 1px;
		a {
		    color: #f1f1f1;
		}
	}
}


#single {
	.entry-notes {
		border-bottom: 1px solid #eaeaea;
		padding-bottom: 10px;
		color: #666;
	}
	.entry-content {
		padding: 20px 0px;
		p, ul, ol {
			margin-bottom: 20px;
		}
		ul, ol {
			padding-left: 20px;
		}
		li {
			margin-bottom: 8px;
		}
		div.alignright {
			width: 100% !important;
			text-align: right;
		}
		div.aligncenter {
			width: 100% !important;
			text-align: center;
		}
		p.wp-caption-text {
			margin-top: 10px;
			font-size: 13px;
		    color: #666;
		}
	}
	.table-list { 
		p {
			margin-bottom: 0px;
		}
	}
	.next-prev { 
		a {
			text-decoration: none;
			.fa {
				font-size: 10px;
			    top: -1px;
			    position: relative;
			}
		}
	}
}



#single.single-guide { 
	.entry-content {
		ul, ol {
			padding-right: 100px;
			padding-left: 100px;
			li {
				background-color: #ecf0f1;
				padding: 10px;
				font-size: 18px;
				margin-bottom: 15px;
				border: 1px dotted #34495e;
				border-radius: 2px;
			}
		}
	}
}

.entry-image-container {
	position: relative;
	img.img-responsive {
		width: 100%;
		height: auto;
	}
}

.post-type-label {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: rgba(231, 76, 60, 1.0);
	padding: 10px;
	font-size: 18px;
	text-transform: uppercase;
	color: #f1f1f1;
	letter-spacing: 1px;
	font-weight: 600;
}

.table-list.table.table-striped {
	img {
		max-width: 100px;
		width: 100%;
		height: auto;
	}
}

.table-list.table.table-striped {
	td.image {
		width: 120px;
	}
}

.table-list.table.table-striped {
	tr {
		td {
			width: auto;
			text-align: left;
			vertical-align: middle;
		}
	}
}

.page-inline {
	position: relative;
	.prev-part {
		position: absolute;
		left: 0px;
	}
	.next-part {
		position: absolute;
		right: 0px;
	}
}

.block-item {
	margin: 30px 0px;
	padding: 0px 15px;
	.entry-image-container {
		text-align: center;
		margin: 20px 0px;
		height: 150px;
		width: 100%;
		color: #fff;
		transition-duration: 0.3s;
		&:before {
			height: 100%;
			width: 150px;
			position: absolute;
			top: 0px;
			left: 50%;
			transform: translateX(-50%);
			content: " ";
			border-radius: 50%;
			border-bottom: 3px dashed #eaeaea;
			background-color: #f6f6f6;
			transition-duration: 0.3s;
		}
		i.fa-lg {
			font-size: 75px;
			top: 50%;
			transform: translateY(-50%);
			position: relative;
			transition-duration: 0.3s;
		}
		&:hover {
			&:before {
				border-bottom: 3px dashed #3498db;
				background-color: #3498db;
				transition-duration: 0.3s;
			}
			i.fa-lg {
				color: #fff !important;
				transition-duration: 0.3s;
			}
		}
	}
	.entry-image-area {
		text-align: center;
		width: 100%;
		height: auto;
		transition-duration: 0.3s;
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
}


