/* Variables */
/*  Mixins */
/***
	Common Part
*/
.table-primary thead {
  background-color: #e74c3c;
  color: #f1f1f1;
}

.table-danger thead {
  background-color: #e74c3c;
  color: #f1f1f1;
}

.table-info thead {
  background-color: #2ecc71;
  color: #fafafa;
}

.table-success thead {
  background-color: #1abc9c;
  color: #fafafa;
}

.table-reverse thead {
  background-color: #34495e;
  color: #f1f1f1;
}

.table-warning thead {
  background-color: #f39c12;
  color: #f1f1f1;
}

/***
	Navigation
*/
.scrolled .caret:before {
  top: 14px;
}

.navbar-default {
  background-color: #e74c3c;
  border-bottom: white;
}
.navbar-default .navbar-nav {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  border-bottom: 5px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #ed7669;
}
.navbar-default .navbar-nav > .open > a {
  color: white;
  background-color: #ed7669;
}
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #ed7669;
}
.navbar-default .navbar-nav > .active a {
  color: white;
  background-color: white;
  color: #e74c3c;
}
.navbar-default .navbar-nav > .active a:hover, .navbar-default .navbar-nav > .active a:focus {
  color: white;
  background-color: white;
}

.dropdown-menu li a {
  color: #e74c3c;
}
.dropdown-menu li a:hover {
  background-color: white;
}

.caret {
  border-top: 0px;
}
.caret:before {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  content: "\f078";
  font-family: FontAwesome;
  position: absolute;
  font-size: 10px;
  width: 4px;
  height: 4px;
  background-color: transparent;
  top: 24px;
  color: white;
}

/***
	Featured
*/
.featured-1 .fa {
  color: #64bdf9;
}

.featured-2 .fa {
  color: #34d6b6;
}

.featured-3 .fa {
  color: #48e68b;
}

/***
	Content
*/
.article-list .article-li a {
  color: #4d100a;
}
.article-list .article-li:hover .article-fg {
  background-color: rgba(52, 152, 219, 0.9);
}

.entry-title a {
  color: #4d100a;
}

.entry-notes .fa {
  color: #e85041;
}

.entry-content-container {
  background-color: #1abc9c;
  padding: 10px;
}

.entry-content-subcontainer {
  padding: 15px;
  border: 1px solid #eaeaea;
}

.entry-content-subcontainer .read-more {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: block;
  text-align: center;
  background-color: #e74c3c;
  color: white;
  margin-top: 15px;
  padding: 10px 20px;
}
.entry-content-subcontainer .read-more:hover {
  background-color: #ad2315;
  text-decoration: none;
}

.entry-content-container.primary {
  background-color: #e85041;
  padding: 10px 15px 5px 15px;
  border-bottom: 3px solid #1b7fc2;
}

.entry-content-container.default {
  background-color: #fafafa;
  border: 1px solid #eaeaea;
}

#entry-block .entry-title a {
  color: #fefefe;
}
#entry-block .default .entry-title a {
  color: #fefefe;
}
#entry-block .default .entry-notes {
  color: #eaeaea;
}
#entry-block .default .entry-notes .fa, #entry-block .default .entry-notes a {
  color: #eaeaea;
}
#entry-block .entry-notes {
  color: #eaeaea;
}
#entry-block .entry-notes .fa, #entry-block .entry-notes a {
  color: #eaeaea;
}

#entry-block.card-item .entry-content {
  color: #e1e1e1;
}

#archive .entry-content {
  color: #444444;
}

/***
	Footer
*/
.bottombar {
  background-color: #b41909;
  color: #f4f4f4;
}
.bottombar a {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: rgba(255, 255, 255, 0.6);
}
.bottombar a:visited {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: rgba(255, 255, 255, 0.6);
}
.bottombar a:hover, .bottombar a:focus, .bottombar a:active {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footbar {
  padding: 20px 0px;
  background-color: #9b0000;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
.footbar strong {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.footbar a {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
}
.footbar a:visited {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
}
.footbar a:hover, .footbar a:focus, .footbar a:active {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

/***
	Widget
*/
.widget-area {
  color: rgba(255, 255, 255, 0.6);
}
.widget-area .widget-title {
  color: rgba(255, 255, 255, 0.9);
}
.widget-area ul li:before {
  color: #e67e22;
}
.widget-area ul li.icon-socmed:before {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  content: "";
  font-family: FontAwesome;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  top: -10px;
  text-align: center;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.9);
}
.widget-area ul li.icon-socmed:hover:before {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  top: -10px;
  font-size: 24px;
  padding-top: 3px;
}
.widget-area ul li.fb-socmed:before {
  content: "\f09a";
}
.widget-area ul li.fb-socmed:hover:before {
  content: "\f09a";
  color: #3b5998;
}
.widget-area ul li.fb-socmed:before {
  content: "\f099";
}
.widget-area ul li.fb-socmed:hover:before {
  content: "\f099";
  color: #4099ff;
}
